h1 Hey #{firstName} 👋,

body  
    p Welcome to Vax! You can now automate sending invoices. We need to to verify your account.
    p Please, enter the code #[strong #{otp}] in your app to verify and start using your account.

p Kindly ignore if you didn't make this request.