h1 Hey #{firstName} 👋,

p. 
    Welcome to Vax! You can now automate sending invoices. We need to to verify your account.
    Please, enter the code #{otp} in your app to verify and start using your account.