h1 Hey 👋,

body 
    p Seems you've forgotten your password.
    p Please, enter the code #[strong #{otp}] in your app to verify and change your password.

p Kindly ignore if you didn't make this request.